<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<!-- quill css -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/css/admin/edit-read-app.css">
<div class="container main">
    <form class="myForm" id="myForm" action="/admin/edit-paragraph/<%= p._id%>" method="post">
        <div class="container">
            <h4>تعديل درس:<%=p.title%></h4>
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label class="form-label" id="Lab">محتوى الدرس</label>
                    <input type="text" class="form-control" name="title" value="<%=p.title%>" required>
                    <br>
                    <!-- Create the editor container -->
                    <div id="editor">
                        <%-p.content%>
                    </div>
                    <input type="hidden" name="wordCount" id="wordCount">
                    <input type="hidden" name="content" id="content">
                    <input type="hidden" name="plaintext" id="plainText">
                </div>
                <div class="mb-3 col-lg-6 quizs" id="quizs">
                    <label class="form-label" id="Lab">اسئلة الدرس</label>
                    <% p.quizs.forEach( q=>{ %>
                    <div class="quiz">
                        <input type="text" class="form-control" name="qu" value="<%= q.quiz%>" required>
                        <input type="text" class="form-control" name="rA" value="<%=  q.rightanswer%>" required>
                        <input type="text" class="form-control" name="wAo" value="<%= q.wrongAnswerone %>" required>
                        <input type="text" class="form-control" name="wAt" value="<%= q.wrongAnswertwo %>" required>
                        <button type="button" id="removeQuiz" class="btn btn-danger" onclick="this.parentElement.remove()">احذف السؤال</button>
                    </div>
                    <%})%>
                </div>
                <button type="button" id="addQuiz" class="btn btn-dark">اضف سؤال اخر</button>
            </div>
        </div>
        <button type="button" id="subBtn" class="btn btn-dark">حفظ</button>
    </form>
</div>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<script src="/js/qull-config.js"></script>
<script src="/js/admin-edit-read-app.js"></script>
<%- include('../lay-outs/footer') %>