<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<!-- quill css -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/css/admin.css">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" /></svg>
    <span class="fs-4">المدير:<%=user.name%></span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-white" id="brief">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home" /></svg>
        السيرة الذاتية
      </a>
    </li>
    <li>
      <a class="nav-link text-white" id="about">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2" /></svg>
        عن بيئة التعلم
      </a>
    </li>
    <li>
      <a href="/admin/read-app" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table" /></svg>
        تطبيق القراءة السريعة و الفهم القرائي
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid" /></svg>
        تطبيق الومضة السريعة
      </a>
    </li>
  </ul>
</div>

<form class="myForm" id="myFormBrief" method="post">
  <div class="mb-3">
    <label class="form-label" id="Lab">السيرة الذاتية</label>
    <!-- Create the editor container -->
    <div id="editor">
      <%- data.brief %>
    </div>
    <input type="hidden" name="content" id="content">
  </div>
  <button type="button" id="subBtnBrief" class="btn btn-dark">حفظ</button>
</form>
<form class="myForm" id="myFormAbout" method="post" style="display: none;">
  <div class="mb-3">
    <label class="form-label" id="Lab">عن بيئة التعلم</label>
    <!-- Create the editor container -->
    <div id="editor">
      <%- data.about %>
    </div>
    <input type="hidden" name="content" id="content">
  </div>
  <button type="button" id="subBtnAbout" class="btn btn-dark">حفظ</button>
</form>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<script src="/js/qull-config.js"></script>
<script src="/js/admin.js"></script>
<%- include('../lay-outs/footer') %>