<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<!-- quill css -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/css/read-app.css">
<div class="side-bar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" /></svg>
        <span class="fs-4">تطبيق القراءة السريعة و الفهم القرائي</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link text-white" id="add">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home" /></svg>
                اضف درس
            </a>
        </li>
        <li>
            <a class="nav-link text-white" id="showL">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" /></svg>
                عرض الدروس
            </a>
        </li>
        <!-- <li>
            <a href="/admin/read-app" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table" /></svg>
                تطبيق القراءة السريعة و الفهم القرائي
            </a>
        </li> -->
        <!-- <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid" /></svg>
                تطبيق الومضة السريعة
            </a>
        </li> -->
    </ul>
</div>
<div class="lessons" id="les" style="display: none;">
    <ul class="list-group">
        <% p.forEach( p =>{ %>
        <li class="list-group-item"><%= p.title%> <a href="/admin/edit-prag/<%=p._id%>" type="button" class="btn btn-dark">تعديل</a><form action="/admin/delete-prag/<%= p._id %>" method="post" id="removeForm"></form><button
                type="button" class="btn btn-danger" id="removeBtn">حذف</button></li>
        <%})%>
    </ul>
</div>
<form class="myForm" id="myForm" action="/admin/add-paragraph" method="post">
    <div class="container">
        <h4>اضافة درس جديد</h4>
        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label" id="Lab">محتوى الدرس</label>
                <input type="text" class="form-control" name="title" placeholder="عنوان الدرس" required>
                <br>
                <!-- Create the editor container -->
                <div id="editor">
                </div>
                <input type="hidden" name="wordCount" id="wordCount">
                <input type="hidden" name="content" id="content">
            </div>
            <div class="mb-3 col-lg-6 quizs" id="quizs">
                <label class="form-label" id="Lab">اسئلة الدرس</label>
                <div class="quiz">
                    <input type="text" class="form-control" name="qu" placeholder="اكتب السؤال ؟" required>
                    <input type="text" class="form-control" name="rA" placeholder="الاجابة الصحيحة" required>
                    <input type="text" class="form-control" name="wAo" placeholder="الاجابة الخطاء" required>
                    <input type="text" class="form-control" name="wAt" placeholder="الاجابة الخطاء" required>
                </div>
            </div>
            <button type="button" id="addQuiz" class="btn btn-dark">اضف سؤال اخر</button>
        </div>
    </div>
    <button type="button" id="subBtn" class="btn btn-dark">حفظ</button>
</form>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<script src="/js/qull-config.js"></script>
<script src="/js/admin-read-app.js"></script>
<%- include('../lay-outs/footer') %>