<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>اسم الطالب: <%= u.name %></h3>
        </div>
        <div class="col-lg-8">
            <p>اعلى درجة في سرعة القراءة: <%= maxSpeed%> كلمة في الدقيقة</p>
        </div>
    </div>
    <div class="row">
        <form method="post" action="/admin/edit-user/<%= u._id%>">
            <div class="mb-3" style="display: inline;">
              <label for="exampleInputEmail1" class="form-label">الاسم</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="name" style="width: 50%;" value="<%=u.name%>">
            </div>
            <div class="mb-3" style="display: inline;">
              <label for="exampleInputPassword1" class="form-label">كلمة السر</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="password" style="width: 50%;" value="<%=u.password%>">
            </div>
            <button type="submit" class="btn btn-primary">حفظ</button>
          </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">اسم الدرس</th>
                <th scope="col">درجة الفهم</th>
                <th scope="col">سرعة القراءة</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% let i =1 %>
            <% u.test.forEach( t=>{ %>
            <tr>
                <th scope="row"><%=i++%></th>
                <td><%=t.lesson%></td>
                <td><%= t.grade%></td>
                <td><%= t.speed%></td>
                <td><form action="/admin/remove-lesson/<%= u._id%>" method="post"> <input type="hidden" name="lessonId" value="<%= t._id%>"><button type="submit" class="btn btn-danger"> حذف</button></form></td>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>
<%- include('../lay-outs/footer') %>