<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/index.css">
<header>
    <div class="container">
        <div class="row">
            <div class="links col-lg-4">
                <a href="#" class="btn btn-primary">تسجيل الدخول</a>
                <a href="#" class="btn btn-primary">تسجيل حساب جديد</a>
            </div>
        </div>
    </div>
</header>
<div class="break" style="border: none;"></div>
<div class="about" id="about">
    <h1>عن بيئة التعلم <i class="fas fa-question-circle"></i></h1>
    <div class="container">
        <% if(data !== null){ %>
        <p class="lead"><%= data.about%>
        <%}%>
        </p>
    </div>
</div>
<div class="break"></div>
<div class="brief" id="brief">
    <h1>السيرة الذاتية <i class="fas fa-graduation-cap"></i></h1>
    <div class="container">
        <% if(data !== null){ %>
        <p class="lead"><%= data.brief%>
            <%}%>
        </p>
    </div>
</div>
<div class="break"></div>
<div class="contact" id="contact">
    <h1>اتصل بنا</h1>
    <div class="container">
        <div class="row">
            <div class="form col-lg-8">
                <form action="/contac-us" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">البريد الالكتروني</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">الاسم</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">محتوى الرسالة</label>
                        <textarea class="form-control" id="content" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark"> ارسل</button>
                </form>
            </div>
            <div class="info col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fab fa-whatsapp"></i> 0112457792</li>
                    <li class="list-group-item"><i class="fab fa-facebook-f"></i> www.facebook.com</li>
                    <li class="list-group-item"><i class="fab fa-telegram-plane"></i> @Elearning</li>
                    <li class="list-group-item"><i class="fas fa-envelope"></i> Elearning@Elearning.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="break"></div>
<%- include('../lay-outs/footer') %>