<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/main/light-read.css">
<header>
    <div class="container">
        <h1>تطبيق القراءة السريعة</h1>
        <h4>لتنمية مهارتي القراءة السريعة و الفهم القرائي</h4>
    </div>
</header>
<div class="container-fluid main">
    <div class="row">
        <div class="str col-12">
            <!-- <div class="tex">لحساب سرعة القراءة الخاصة بك عليك اتباع التعليمات التالية:</div> -->
            <li class="list-group-item tex" value="5">لحساب سرعة القراءة الخاصة بك عليك اتباع التعليمات التالية:</li>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Cras justo odio</li>
            </ol>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="choose col-lg-6">
            <div class="menu">
                <form action="/ligth-test" method="post" id="lightForm">
                    <h1>اختيار القطعة:</h1>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            القطعة
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <% t.forEach( t=>{%>
                            <!-- <li><a class="dropdown-item" href="/tes-read/<%=t._id%>"><%= t.title%></a></li> -->
                            <li>
                                <div class="form-chec dropdown-item">
                                    <input class="form-check-input" type="radio" name="text" value="<%= t._id%>">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        <%= t.title%>
                                    </label>
                                </div>
                            </li>
                            <%})%>
                        </ul>
                    </div>
                    <div class="dropdown" id="wNum">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            عدد الكلمات
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="wordnum"
                                            id="flexRadioDefault1" value="1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            1
                                        </label>
                                    </div>
                            </li>
                            <li><a class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="wordnum"
                                            id="flexRadioDefault2" value="2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            2
                                        </label>
                                    </div>
                                </a></a></li>
                            <li><a class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="wordnum"
                                            id="flexRadioDefault2" checked value="3">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            3
                                        </label>
                                    </div>
                                </a></a></li>
                        </ul>
                    </div>
                    <input type="number" min="1" class="form-control" id='speed' name="speed"
                        placeholder="معدل السرعة في الدقيقة" style="margin-top: -30px;
                    width: 50%;
                    margin-right: 22px;">
                </form>
                <button type="button" class="btn btn-primary" id="start">بدء التدريب</button>
            </div>
        </div>
        <img class="col-6 read-img" src="/img/book.jpg" alt="">
    </div>
</div>
<script src="/js/light-speed.js"></script>
<%- include('../lay-outs/icon-bar') %>
<%- include('../lay-outs/footer') %>