<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/main/light-read.css">
<header>
    <div class="container">
        <h1>تطبيق القراءة السريعة</h1>
        <h4>لتنمية مهارتي القراءة السريعة و الفهم القرائي</h4>
    </div>
</header>
<%if(err){%>
<h1 style="color: red;"><%= err%></h1>
<%}else{%>
<p id="plainText" style="display: none;"><%= p.plaintext%></p>
<div class="test">
    <div class="container">
        <div class="col-lg-12 box">
            <span class="word" id="word"><%=p.plaintext.split(' ')[0]%></span>
            <input type="hidden" id="wNum" value="<%= wNum %>">
            <button type="button" class="btn btn-dark" id="start" style="    right: 10%;
                width: 80px;">بدء</button>
        </div>
    </div>
</div>
<%}%>
<script src="/js/light-test.js"></script>
<%- include('../lay-outs/icon-bar') %>
<%- include('../lay-outs/footer') %>