<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<!-- Page header with logo and tagline-->
<!-- <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
            <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
        </div>
    </div>
</header> -->
<!-- Page content-->
<div class="container" style="padding-top: 70px;">
    <% if(blogs === null){%>
    <h1>لا يوجد موضوعات بعد </h1>
    <%}else{%>
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="post/<%= blogs[blogs.length-1]._id%>"><img class="card-img-top"
                        src="<%= blogs[blogs.length-1].img %>" alt="..." /></a>
                <div class="card-body">
                    <h2 class="card-title"><%= blogs[blogs.length-1].title %></h2>
                    <p class="card-text"><%- blogs[blogs.length-1].text.substr(0,100) %>...</p>
                    <a class="btn btn-primary" href="post/<%= blogs[blogs.length-1]._id%>">اكمل قراءة →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <% for(let i=0; i< blogs.length-1; i++){ %>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="/post/<%=blogs[i]._id%>"><img class="card-img-top" src="<%=blogs[i].img %>"
                                alt="..." /></a>
                        <div class="card-body">
                            <h2 class="card-title h4"><%=blogs[i].title%></h2>
                            <p class="card-text"><%=blogs[i].text.substr(0,100)%>...</p>
                            <a class="btn btn-primary" href="/post/<%=blogs[i]._id%>">كمل قراءة →</a>
                        </div>
                    </div>
                </div>
                <%}%>
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">افضل الطلاب</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">المركز الاول</a></li>
                                    <li><a href="#!">المركز الثاني</a></li>
                                    <li><a href="#!">المركز الثالث</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
            </div>
            <%- include('../lay-outs/footer') %>