<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<style>
    .main {
        height: 83vh;
        text-align: center;
        background-image: url('/img/speed-test.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .main .container {
        position: relative;
        top: 45%;
        width: 290px;
        border: 2px solid #245C13;
        background-color: rgba(96, 218, 91, 0.7);
    }
</style>
<div class="main">
    <div class="container">
        <div class="row">
            <h3>معدل سرعة قرائتك <%= result.read %> كلمة في الدقيقة</h3>
            <h3>درجة الفهم <%= result.understand %>%</h3>
        </div>
    </div>
</div>
<%- include('../lay-outs/footer') %>