<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/read-app.css">
<div class="my-modal" id="modal">
    <div class="container">
        <div class="row">
            <div class="content col-lg-5">
                <p class="lead">شرح للطالب على البرنامجهذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
                    هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى
                    زيادة عدد الحروف التى يولدها التطبيق.</p>
                <button class="btn btn-dark" id="modalBtn"> موافق </button>
            </div>
        </div>
    </div>
</div>
<div class="page d-none" id="page">
    <div class="container">
        <div class="row">
            <div class="app">
                <p class="timer lead">عداد الزمن: <p class="lead timer" id="timer"></p>
                </p>
                <div class="prag">
                    <input type="hidden" value="<%= data.wordCount %>" id="wordsCount">
                    <p class="lead" id="prag">
                        <h3><%= data.title %></h3>
                        <%- data.content %>
                    </p>
                </div>
                <button type="button" class="btn btn-dark" id="endApp" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    انهاء القراءة
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">اختبار درجة الفهم</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/test-result" method="post" id="testForm">
                    <input type="hidden" name="average" id="average">
                    <% for(let i=0; i< data.ques.length; i++){%>
                    <div class="qu">
                        <div class="form-check">
                            <h5><%= data.ques[i] %></h5>
                            <input class="form-check-input" type="radio" name="<%= data.ques[i] %>" id="flexRadioDefault1"
                                value="<%= data.answers[i][0] %>">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <%= data.answers[i][0] %>
                            </label>
                        </div>
                        <div class=" form-check">
                            <input class="form-check-input" type="radio" name="<%= data.ques[i] %>" id="flexRadioDefault2"
                                value="<%= data.answers[i][1] %> %>">
                            <label class="form-check-label" for="flexRadioDefault2">
                                <%= data.answers[i][1] %>
                            </label>
                        </div>
                        <div class=" form-check">
                            <input class="form-check-input" type="radio" name="<%= data.ques[i] %>" id="flexRadioDefault3"
                                checked value="<%= data.answers[i][2] %>">
                            <label class="form-check-label" for="flexRadioDefault3">
                                <%= data.answers[i][2] %>
                            </label>
                        </div>
                    </div>
                    <div class=" break">
                    </div>
                    <%}%>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">انهاء</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/read-app.js"></script>
<%- include('../lay-outs/footer') %>